{
    "dotnet": {
        "solution": {
            "parameters": [
                "--name DevdeerSolution",
                "--output ./Solution"
            ]
        },
        "command": [
            {
                "parameters": [
                    "webapp",
                    "--name DevdeerTestProject",
                    "--output ./DevdeerTestProject",
                    "-lang VB",
                    "--no-https"
                ]
            },
            {
                "parameters": [
                    "webapi",
                    "--name DevdeerTestApi",
                    "--output ./DevdeerTestApi",
                    "-lang VB",
                    "--no-https"
                ]
            }
        ]
    }
}


